.place__url-link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #fff;
    cursor: url('../../../sprint-3-images/Pointer.svg'), pointer;
}

.place__url-link:hover {
    transition: .8s ease;
    opacity: 0.8;
}