.intro__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26.08px;
    color: #fff;
    max-width: 288px;
    padding-bottom: 34px;
    margin: 0;
}

@media screen and (min-width: 720px) {
    .intro__text {
        max-width: 720px;
        padding-bottom: 33px;
    }
}

@media screen and (min-width: 1024px) {
    .intro__text {
        max-width: 690px;
    }
}

