.cover__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    min-height: 200px;
}    

@media screen and (min-width: 768px){
    .cover__overlay {
        min-width: 768px;
        min-height: 480px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px){
    .cover__overlay {
        min-width: 1024px;
        min-height: 640px;
    }
}

@media screen and (min-width: 1280px){
    .cover__overlay {
        max-width: 1280px;
        max-height: 740px;
    }
}

.cover__overlay{
    background: #2A2C2F;
    opacity: 0.3;
}

.cover__overlay:hover {
    background: #2A2C2F;
    opacity: 0.8;
}