.cover__background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../../../sprint-3-images/cover-trains.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-decoration: none;
    min-width: 320px;
    min-height: 200px;
    cursor: url('../../../sprint-3-images/Pointer.svg'), pointer;
}

@media screen and (min-width: 768px){
    .cover__background {
        /* min-width: 768px; */
        min-height: 480px;
    }
} 

@media screen and (min-width: 1024px){
    .cover__background {
        min-width: 1024px;
        min-height: 640px;
    }
}

@media screen and (min-width: 1280px){
    .cover__background {
        max-width: 1184px;
        margin: 0 auto;
    }
}

.cover__background::before{
    background-color: rgba(42, 44, 47, 0.3);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

.cover__background:hover::before {
    background-color: rgba(42, 44, 47, 0.8);
    transition: .8s ease;
}

